div#zoom-image
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
div#zoom-image > img
{
    border-radius: 3%;
    max-width: 100%;
    max-height: 100%;
}

div#zoom-name
{
    cursor: default;
    margin-top: 5px;
    padding: 3px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 18px;
    background: #999999;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#zoom-text
{
    cursor: default;
    white-space: pre-wrap;
    margin-top: 1px;
    padding: 3px;
    font-size: 14px;
    background: #999999;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#zoom-links
{
    cursor: default;
    margin-top: 5px;
    height: 24px;
    display: inline-block;
    float: right;
    background: #999999;
    border-radius: 5px;
    padding: 5px;
}

div#zoom-links > a
{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

div#zoom-links > a > img
{
    width: 100%;
    height: 100%;
}

div#zoom-links > a > div
{
    position: absolute;
    right: 7px;
    bottom: 2px;
    font-family: Monospace;
    font-weight: bold;
    font-size: 10px;
    border-radius: 3px;
    background: rgba(255,255,255, 0.5);
}
