div.toolbox-button
{
    position: relative;
    display: inline-block;
    background: #999999;
    transition: background 1s ease-out;
    cursor: pointer;
    
    border: 2px solid #777777;
    border-radius: 4px;
    padding: 0px 5px;
    margin: 2px 3px;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
}
div.toolbox-button:hover { background: #bbbbbb; }
div.toolbox-button > div.toolbox-indicator
{
    position: absolute;
    display: none;
    cursor: default;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #999999;
}

div#toolbox > div
{
    background: #aaaaaa;
    border: 4px solid #777777;
    border-radius: 8px;
}

div#toolbox-main
{
    padding: 1px 3px;
    text-align: center;
}

div#toolbox-main > div
{
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

div#toolbox-price
{
    padding: 1px 3px;
    text-align: center;
    margin-top: 5px;
    height: auto;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

div#toolbox-price-list
{
    display: none;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.price-entry
{
    position: relative;
    height: 20px;
}

div.price-entry + div.price-entry
{
    margin-top: 2px;
}

div.price-entry > div
{
    position: absolute;
    top: 0;
    bottom: 0;
}

div.price-entry > div > a
{
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: inline-block;
}

div.price-entry > div > a > img
{
    width: 100%;
    height: 100%;
}

div.price-entry > div.price-name
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    
    left: 0;
    right: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.price-entry.price-failed > div.price-name { text-decoration: line-through; }
div.price-entry.price-total > div.price-name { font-weight: bold; }

div.price-entry > div.price-price
{
    display: none;
    
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    
    right: 44px;
    width: 50px;
}
div.price-entry.price-okay > div.price-price { display: block; }
div.price-entry.price-total > div.price-price { display: block; font-weight: bold; }

div.price-entry > div.price-link-ygop
{
    display: none;
    right: 22px;
    width: 20px;
}
div.price-entry.price-okay > div.price-link-ygop { display: block; }

div.price-entry > div.price-link-cm
{
    display: none;
    right: 0;
    width: 20px;
}
div.price-entry.price-okay > div.price-link-cm { display: block; }

div.price-entry > div.price-progress
{
    display: none;
    
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    
    white-space: nowrap;
    overflow: hidden;
    
    right: 0;
    width: 94px;
}
div.price-entry.price-loading > div.price-progress { display: block; }

div.price-entry > div.price-error
{
    display: none;
    
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 13px;
    line-height: 20px;
    color: #aa0000;
    text-decoration: underline;
    text-decoration-style: dotted;
    
    white-space: nowrap;
    overflow: hidden;
    
    right: 0;
    width: 94px;
}

div.price-entry.price-failed > div.price-error { display: block; }
