
html, body { margin: 0; height: 100%; width: 100%; }
body { background: #cccccc; }

body > div { display: none; }
body.import > div#import-container { display: block; }
body.view > div.deck, body.view > div#zoom-viewer { display: block; }
body.view > div#toolbox { display: flex; }

div#import-container
{
    cursor: default;
    position: absolute;
    left: 50%;
    margin-left: calc(-2px + -38vh);
    top: 50%;
    margin-top: calc(-2px + -18vh);
    text-align: center;
}
div#import-box
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: #aaaaaa;
    border: 4px solid #777777;
    border-radius: 8px;
    text-align: center;
    width: 76vh;
    height: 25vh;
    white-space: nowrap;
    overflow: hidden;
}
div#import-header
{
    position: absolute;
    left: 0;
    right: 0;
    top: 1vh;
    bottom: 21vh;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    color: #777777;;
}
div#import-label-paste, div#import-label-click, div#import-label-drop
{
    position: absolute;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2vh;
    top: 5vh;
    bottom: 1vh;
}
div#import-box > div > span { display: block; font-weight: bold; font-size: 3vh; }
div#import-label-paste { left: 1vh; right: 52vh; }
div#import-label-click { left: 27vh; right: 27vh; }
div#import-label-drop  { left: 52vh; right: 1vh; }

div#import-status
{
    display: none;
    position: absolute;
    background: #ffffff;
    color: #000000;
}
div#import-status.import-progress { display: block; color: #000000; }
div#import-status.import-error    { display: block; color: #ff0000; }

div#import-subtext
{
    margin-top: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #999999;
}
div#import-subtext > a
{
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}
div#import-subtext > a:hover { text-decoration: underline overline dotted; }
div#import-subtext > span { color: #707070; }

div#zoom-viewer
{
    position: absolute;
    top: 1vh;
    left: 1vh;
    right: calc(50% + 53vh);
    bottom: 1vh;
    overflow-y: auto;
    
    padding: 1vh;
    background: #aaaaaa;
    border: 4px solid #777777;
    border-radius: 8px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div.deck
{
    position: absolute;
    left: calc(50% - 52vh);
    width: 104vh;
    background: #aaaaaa;
    border-radius: 10px;
}

div#toolbox
{
    position: absolute;
    top: 1vh;
    bottom: 1vh;
    left: calc(50% + 53vh);
    right: 1vh;
    
    flex-direction: column;
}

div#main-deck
{
    top: 1vh;
    height: 60vh;
}

div#extra-deck
{
    top: 62vh;
    height: 18vh;
}

div#side-deck
{
    top: 81vh;
    height: 18vh;
}

div.deck-border
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 4px solid #777777;
    border-radius: 8px;
}

div#main-deck-label, div#extra-deck-label, div#side-deck-label
{
    cursor: default;
    z-index: 25000;
    position: absolute;
    background: #aaaaaa;
    left: 3vh;
    top: -7px;
    border: 4px solid #777777;
    border-radius: 8px;
    padding: 3px 6px 2px;
    
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}

div#main-deck-label::before { content: "Main Deck ("; }
div#extra-deck-label::before { content: "Extra Deck ("; }
div#side-deck-label::before { content: "Side Deck ("; }

div#main-deck-container, div#extra-deck-container, div#side-deck-container
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.card
{
    position: absolute;
    width:    10vh;
    height:   14vh;
    cursor: zoom-in;
}

div.card > img
{
    width:  100%;
    height: 100%;
    border-radius: 3%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
